[2013-02-13 14:18] florentx opened #1 "crash with tuple function argument"
It crashes on this code (Python 2.7):

[code]

Traceback:

[code]

[2013-02-23 23:25] #1 closed, assigned to nobody

[2013-03-29 08:09] ssokolow opened #2 "Option (or documentation) for preferring camelCase to underscore_words"
I'd really like to extend my Travis CI stylistic consistency checks to also cover naming
but, for a variety of reasons (length, taste, etc.), I'm not willing to switch my codebases over
to underscore_words style for function and argument names.

How difficult would it be to extend (or document) pep8-naming so I can specify such a
preference in my `tox.ini` without having to maintain a fork of pep8

[2013-04-17 15:03] popotam opened #3 "False positive N805 on overriden __new__ method"
**Description**

Overriden ___new___ methods are always static methods and their first parameter should not be named _self_, but pep8-naming prints an error when it is not _self_.

**How to replicate:**

[code]

[code]

[code]

[2013-04-24 06:39] #3 closed, assigned to nobody

[2013-05-31 18:40] flying-sheep opened #5 "metaclasses and functions returning classes"
python is a dynamic language. functions may return classes, and instantiating metaclasses also yields classes.

since we can’t know what a function returns, `VariablesInFunctionCheck` should **not** yield an error if a variable name matches `MIXEDCASE_REGEX`, e.g.:

[code]

[2013-09-01 18:16] remcohaszing opened #6 "Allow camelCase for python standard libraries."
(Unfortunately) some libraries in the python standard library do not follow pep8. This means that people using them are forced to write non pep8-compliant code. This code should be accepted by the pep8-naming plugin.
For example unittest.TestCase is meant to be overridden so setUp and tearDown can be implemented. The same goes for logging.Logger.

[2014-01-02 15:08] pedros opened #7 "Allow some single uppercase letter function arguments and-or local variables"
The use of single uppercase letter variables is pretty widespread in some applications, namely those that are more math-oriented. For example, `X` is a common variable name given to a matrix, `G` for graphs, etc.

My understanding of PEP8 is that these are specifically allowed (see [Names to avoid](http://www.python.org/dev/peps/pep-0008/#names-to-avoid)), but also not specifically disallowed in t

[2014-01-14 10:31] petrrr opened #8 "package naming"
I started to package this package for Macports but I find the naming confusing. This is a flake8 plugin, right?

So would a name starting like `flake8-naming` or `flake8-pep8-naming` be more appropriate. Of cause I could use different naming for MacPorts, but this probably only adds to the confusion ...

Any thoughts?

[2014-02-25 14:50] dstufft opened #9 "Functions starting/ending with a dunder"
pep8-naming does not allow functions starting or ending with a dunder (`__`). This is not something that is disallowed by PEP8 and I think this rule should be removed. However if this check remains then it should be moved to it's own check and should not be part of the more general "functions should be lowercase" check so that people can disable it in their own projects without disabling the usefu

[2014-03-25 22:36] kdopen opened #10 "Python 3.4 breaks Function Argument Name checking"
Looks like something in the AST modules change in python 3.4
- In python 3.3, node.args.kwargs returns `<class 'str'>`
- In python 3.4, node.args.kwargs returns `<class '_ast.arg'>`

This breaks `FunctionArgNamesCheck.visit_functiondef()` at line 187 when the return value is passed to `LOWERCASE_REGEX.match()` which expects a string value.

A simple test file with the following contents:

[code]

[2014-03-26 22:07] treyhunner opened #12 "Add Tox and Travis CI support for easier version-specific testing"
To more easily test Python version-specific issues in the future, maybe a `tox.ini` file should be made and Travis CI support should be enabled (with a `.travis.yml` file).

This should make it much easier to test for version-specific issues (such as #10).

[2014-04-19 19:58] #10 closed, assigned to nobody

[2014-07-10 13:59] toddrjen opened #14 "False Positive: unittest.TestCase.setUp"
When making unit tests using the built-in `unittest` module, python defines a `setUp` method for `unittest.TestCase` that is used to do standard setup operations for all tests.  Users have to override this method, and thus use this name, to do the setup, but pep8-naming nevertheless flags it as violating `N802 function name should be lowercase`.  Since it is something in the standard library that

[2014-12-31 15:19] skirpichev opened #17 "Add test for bad assignments (to self/cls)"
See [this](https://github.com/sympy/sympy/blob/master/sympy/utilities/tests/test_code_quality.py#L62) as an example of implementation.  This will catch code like

[code]

or

[code]

Yes, this is not a PEP 8 requirement, but there is some wrong if I should introduce new extension for naming tests just for that.

[2014-12-31 15:24] #17 closed, assigned to nobody

[2015-02-03 08:39] lensvol commented on #14
Is there any progress on this issue? I would like to try and fix it, really gets on my nerves. :)

[2015-02-04 13:55] sigmavirus24 commented on #14
This is a duplicate of #6.

[2015-02-04 13:55] #14 closed

[2015-02-04 13:56] sigmavirus24 commented on #6
@lensvol feel free to try to fix this.

[2015-02-09 18:00] elyezer opened #18 "pep8-naming should not warning for lowercase methods name on unittest children classes"
I run flake8 every time a PR is sent to the repository and for every test class which override, for example, `setUp` or `tearDown` methods I have to add `noqa` to that line.

Even Python 3 uses that convention for unittest inherited classes.

[2015-02-09 23:03] sigmavirus24 commented on #18
Duplicate of #6

[2015-02-09 23:03] #18 closed

[2015-02-09 23:08] elyezer commented on #18
Sorry missed that.

[2015-05-27 14:38] staeff commented on #6
+1

[2015-05-27 14:41] sigmavirus24 commented on #6
@staeff care to submit a fix?

[2015-05-27 14:43] staeff commented on #6
I'll look into it, but can't promise anything. I just came across this issue, when I was researching the problem.

[2015-05-27 15:24] sigmavirus24 commented on #6
@staeff then please understand that adding a +1 to a known issue that the maintainers are willing to accept a patch for is patently unhelpful.

[2015-05-27 15:39] staeff commented on #6
@sigmavirus24 oops, sorry.

[2015-05-27 19:11] sigmavirus24 commented on #6
No worries.

[2015-06-20 19:52] #6 closed

[2015-06-20 20:30] sigmavirus24 commented on #12
This is currently fixed.

[2015-06-20 20:30] #12 closed

[2015-06-20 20:41] sigmavirus24 commented on #8
Hey @petrrr I'm surprised Florent didn't respond to this when they tagged it, but as I understand it, the name of the package was chosen because it enforces the naming guidelines in pep8. It's not only a flake8 extension, it still provides entry-points for the now deprecated flint project as well. Cheers!

[2015-06-20 20:41] #8 closed

[2015-06-20 20:47] sigmavirus24 commented on #2
I tend to agree with @myint personally. This project isn't a generic way of enforcing naming style-guidelines with flake8, this is specifically to enforce pep8's naming guidelines, which it does (although sometimes too strictly). This should be a different plugin instead of being an extension of this plugin.

[2015-06-20 20:47] #2 closed

[2015-06-20 20:51] sigmavirus24 commented on #5
So we currently have a special case for [namedtuple](https://github.com/flintwork/pep8-naming/blob/984f603dbd94ebfa291bbcb3cf32be61bfbe74ee/pep8ext_naming.py#L290). I wouldn't be adverse to eliminating that special case and allowing top-level variables to have all caps or "ClassNames" as you described them. I'm pretty sure it won't be easy though.

[2015-12-17 03:42] cimbriano opened #21 "Decorator pattern should not require 'self' as first parameter"
pep8-naming complains about the parameter of a decorator function. Take the example from this page: http://python-3-patterns-idioms-test.readthedocs.org/en/latest/PythonDecorators.html#using-functions-as-decorators

[code]

It (seems to be) idiomatic to call the parameter `f` or `func` or something of that nature instead of `self`

[2016-02-04 14:59] sigmavirus24 opened #23 "Rename/Rebrand"
@gvanrossum requested that pep8 and pep257 rename themselves to avoid confusion. This flake8 plugin is far less popular, but I suspect we should rename ourselves too.

Thoughts? /cc @Nurdok @IanLee1521

[2016-02-05 04:21] IanLee1521 commented on #23
Having not really used this directly, and just quickly skimming the readme, what about something like "flake8-naming" ? That is generic and also seems to match the version output when installed where you just refer to it as "naming: 0.2" under flake8 versions:

    $ flake8 --version
    2.0 (pep8: 1.4.3, pyflakes: 0.6.1, naming: 0.2)

[2016-02-05 14:04] sigmavirus24 commented on #23
For some context, @florentx created this because he was receiving a lot of requests to implement checks that enforce PEP-0008's suggested naming style. It's incomplete.

I don't like the name flake8-naming but that does kind of follow suit with flake8-docstrings (and flake8-import-order, etc., etc., etc.).

I think I'll rename this after some time. I have other things that are higher priority for

[2016-02-06 00:56] Nurdok commented on #23
`pynamestyle`? :)

[2016-02-06 04:06] sigmavirus24 commented on #23
On February 5, 2016 6:56:20 PM CST, Amir Rachum <notifications@github.com> wrote:

Unlike pycodestyle and pydocstyle, this isn't a stand alone tool. This is a plugin for flake8
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-06-15 01:28] sigmavirus24 commented on #23
Eh, I don't care enough to bother renaming it.

[2016-06-15 01:28] #23 closed

[2016-06-26 09:00] carlos-jenkins opened #28 "flake8 3.0.0b1 broke config option registration"
flake8 version 3.0.0b1 was released 2016-06-25, breaking extensions.

Using pep8-naming 0.3.3 the following reported:

[code]

Falling back to flake8 2.6.2 allows to continue using the extension.

Regards.

[2016-06-26 12:08] sigmavirus24 commented on #28
This is fixed on 0.4.1. Thanks for reporting the issue!

[2016-06-26 12:08] #28 closed

[2016-07-26 20:34] FichteFoll commented on #9
Dunder functions really shouldn't be marked in this check.
I do believe a separate check for this is useful because, by themselves, dunder functions have absolutely no different meaning from functions with a single single underscore and thus are redundand.

PEP-8 doesn't have a stance regarding those so the check should probably be disabled by default?

[2016-10-27 21:10] jgbishop opened #29 "N806 not thrown in multiple assignment cases"
I have a line of code that looks like the following, for which I would expect two N806 errors:

`(minYear, maxYear) = some_function_here()`

The names `minYear` and `maxYear` both violate the pep-8 naming rules, but no errors are generated.

[2016-11-04 13:54] spaceone opened #31 "print the actual wrong name"
For example `N802: function name should be lowercase` would better be `N802: function name  "Foo" should be lowercase`.
Flake8 does this for all F* error codes and it helps in finding the names faster :)

[2016-11-07 06:28] spaceone opened #32 "multiple assignment not detected"
[code]
doesn't detect fooBar as invalid name.

[2016-11-07 06:30] spaceone opened #33 "autopep8 plugin"
It would be nice if there would be a plugin for https://github.com/hhatto/autopep8 to fix variable and function names from camelCase to lower_underscore_case. autoflake8 has multiple aggressive modes.

[2016-11-07 06:43] spaceone opened #34 "with-as not detected"
[code]

is not detected as invalid.

[2016-11-09 14:58] sigmavirus24 commented on #33
There is no way to plug into autopep8.

[2016-11-09 14:58] #33 closed

[2016-11-09 14:59] sigmavirus24 commented on #32
This is a duplicate of #29. Please check open and closed issues prior to creating new ones.

[2016-11-09 14:59] #32 closed

[2016-11-09 15:05] spaceone commented on #33
There is:
https://github.com/hhatto/autopep8/blob/master/autopep8.py#L29

You just need to add a function named "fix_N123" into the autopep8 module namespace.

[2016-12-13 22:23] advance512 opened #36 "Create setting to warn if function and method names are not mixedCase"
As explained here:
https://www.python.org/dev/peps/pep-0008/#function-names
("mixedCase is allowed only in contexts where that's already the prevailing style (e.g. threading.py), to retain backwards compatibility.")

In some contexts, mixedCase is allowed. For such cases, create a setting to allow pep8-naming to by-default check that function/method names are in mixedCase instead of snake_case.

[2016-12-13 22:36] sigmavirus24 commented on #36
Would you like to contribute this feature?

[2016-12-13 22:40] advance512 commented on #36
Sure. I'll probably only get to it in two to three weeks, but it is definitely something I need and looking at the code - doesn't seem hard to do. Any guidelines?

[2016-12-24 15:53] NAThompson opened #37 "Lowercase Greek letters are erroneously labelled as uppercase"
Running `flake8` on

[code]

yields the following error:

[code]

[2016-12-26 10:07] saifelse opened #38 "Config to allow decorators that function like @classmethod"
In SQLAlchemy, there is a `declared_attr` decorator that creates class methods:
http://docs.sqlalchemy.org/en/latest/orm/extensions/declarative/api.html#sqlalchemy.ext.declarative.declared_attr

As a result, my codebase is sprinkled with:
[code]

It would be nice if we could have a config option that lets us declare if a decorator results in a `staticmethod` or `classmethod` as opposed to the impl

[2016-12-26 14:32] sigmavirus24 commented on #38
This certainly seems reasonable

[2017-01-02 23:00] saifelse commented on #38
@sigmavirus24: do you have any suggestions for testing such a change? I have a working implementation, but the testing framework does not allow custom options to be passed into the NamingChecker.

I'm currently experimenting with the test syntax looking as such:
[code]

and then parsing the options, which get passed to an instance of `flake8.options.manager.OptionManager` in ./run_tests.py.

Does

[2017-02-04 21:17] sigmavirus24 commented on #37
I would happily accept a PR that fixes this.

[2017-03-11 08:24] saifelse commented on #38
@sigmavirus24: just checking to see if there is anything else I need to do on my end to get #39 through. Cheers!

[2017-04-09 18:26] treyhunner opened #40 "Allow methods starting with "assert""
When using `unittest`, I tend to name custom assertion methods using camelCase.

I tried setting `ignore-names` to include `assert*` but that didn't do what I'd hoped. If there was a way to specify a glob or regular expression in `ignore-names`, that would allow me to accept all methods starting with `assert` as valid.

[2017-08-22 19:41] igorraush opened #43 "--ignore-names does not apply for all checks"
Unless I'm missing something, the `ignore` argument to the visitor methods is used in `FunctionNameCheck` (N802). Is this by design? Would be great to apply this option for all checks.

[2017-08-26 13:16] sigmavirus24 commented on #43
I'd merge a pull request that implements this. I suspect the reasoning is that the implementor didn't want `--ignore-names` to be overly broad. Perhaps we should deprecate that option in favor of `ignore-function-names` and `ignore-class-names` etc. so that people can be specific.

[2017-08-27 15:35] igorraush commented on #43
@sigmavirus24 Judging by the first comment in https://github.com/PyCQA/pep8-naming/pull/19, the implementer submitted a partial WIP, intending to apply the logic to all error types. That said, I do agree with you that type-specific whitelists would be useful. So you'd like to continue supporting `ignore-names` with the current behavior but start emitting a `DeprecationWarning`, and implement `igno

[2017-08-27 18:13] igorraush commented on #43
Another discussion point: how granular should the options be? Ideally, there should be an option to ignore a list of names for each error type. One way to do it:
- `ignore-function-names` (applies to `N802`)
- `ignore-class-names` (applies to `N801`)
- `ignore-variable-names` (applies to `N803`, `N806`, `N81x`)
- `ignore-Nxx-names` (applies to `Nxx` specifically)
What are your thoughts?

[2017-08-27 19:33] sigmavirus24 commented on #43
We don't have a reverse mapping of violation code to checker class and I'd rather not build one or attempt to maintain it. Using explicitly named flags without using weird magical syntax makes the most sense. It's simple, explicit, and can be easily configured in INI.

[2017-11-04 03:39] snoack opened #45 "Conditional magic methods cause false positives"
[code]

[2017-12-30 17:22] #38 closed

[2017-12-30 17:23] sigmavirus24 commented on #31
Fixed in #44

[2017-12-30 17:23] #31 closed

[2018-02-03 11:50] sobolevn opened #49 "Add constants naming rules"
`pep8` implies that constants are named in `UPPER_CASE`: https://www.python.org/dev/peps/pep-0008/#constants

Right now this code is considered valid:

[code]

`pylint` has checks for it: `C:  8, 0: Constant name "delta" doesn't conform to UPPER_CASE naming style (invalid-name)`

[2018-02-17 14:17] #9 closed

[2018-03-28 07:09] dmtucker opened #51 "Multiple underscores cause N807 false-positive"
This may be related to #45:
[code]
[code]

[2018-03-28 12:09] sigmavirus24 commented on #51
I'd be happy to merge a PR that fixes this up.

I'm wondering if you could share the reasoning behind using multiple `_`s in your function naming too.

[2018-03-28 14:55] peterdemin opened #52 "N812 for uppercase shorthand"
I believe it's common practice to shorten long imports from selenium like it is done in Selenium docs: http://selenium-python.readthedocs.io/waits.html

But pep8-naming detects error:
[code]

I think the intention of N812 was to avoid importing lowercase as CamelCase, but this one is actually UPPERCASE, so I think it's false positive.

[2018-03-29 05:21] dmtucker commented on #51
It's a test of `__main__.py` that is next to tests for `main()`, and that's just what came to mind...
I have a similar test called `test___repr__` which covers multiple objects:
[code]

[2018-05-05 01:48] svenevs opened #53 "'Attribute' object has no attribute 'id'"
Here's an interesting one (see last line of traceback):

[code]

It is interesting because before I started whittling down the flake8 errors (all I was doing was adding documentation really), `pep8-naming` was doing OK.  Then out of the blue this crash!

I found a similar issue [which was resolved by checking if `id` was available](https://github.com/JBKahn/flake8-print/pull/8/files).

Before I st

[2018-05-05 12:03] sigmavirus24 commented on #53
Hm, so I can reproduce this differently with

[code]

Difference is that it errors with `'Call' object has no attribute 'id'`. So I think what we want here is to filter the bases based on some attributes. This check is presently too naive.

I think the following is roughly what's happening in the original report as well:

[code]

cc @jparise

[2018-05-05 12:11] sigmavirus24 commented on #53
@svenevs I think https://github.com/PyCQA/pep8-naming/pull/55 will fix this without catching cases we don't care about

[2018-05-05 17:04] svenevs commented on #53
Hi @sigmavirus24 you are correct, the fixes there work!

Not so surprisingly, I was using the `six.@add_metaclass` decorator.  To be honest, I still have no idea why the error started happening now as opposed to from the beginning...I can share the code with you if you like, but its hundreds of lines of somewhat arcane testing stuff that took a contributor and I weeks to flesh out / get working co

[2018-05-05 18:17] fxfitz commented on #53
Any way we could get a 0.6.1 released to remedy this? I would hate to pin my CI to use 0.5.0. :-/

[2018-05-06 11:49] #53 closed

[2018-05-06 14:21] 5j9 opened #56 "N807 false-positive for conditionally created methods"
[code]

[code]

[2018-05-07 17:39] jparise commented on #53
Thanks for fixing this, @sigmavirus24!

While reviewing this, I realize we also don't recognize `type` subclasses as metaclass:

[code]

I spent a little time with the AST, and the challenge is that `Meta`'s bases are only available as `ast.Name` nodes, which is't enough to determine whether `MetaBase` derives from `type`.

Do you know a way to to implement the equivalent of `issubclass(Meta, type

[2018-05-08 01:50] 5j9 commented on #56
I just noticed that this is a duplicate of #45.

[2018-05-08 01:50] #56 closed

[2018-05-09 11:56] lordmauve opened #58 "N802 message ends with superfluous xxx"
The N802 error has 'xxx' on the end. Debugging?

This is [in the source, here](https://github.com/PyCQA/pep8-naming/blob/8e6694369d3c76f5f45a98c643bc52f32336b8ca/src/pep8ext_naming.py#L243):

[code]

[2018-05-09 18:05] sigmavirus24 commented on #58
*shrug* Seems likely. I'm happy to merge a PR that drops this though.

[2018-05-09 18:07] sigmavirus24 commented on #52
I've been working on Python for several years and, anecdotally speaking, can't remember seeing this ever, let alone it being common practice. If there's more evidence of this outside of selenium's docs/users, I'm happy to consider this change. Otherwise, I'm not sure the effort would be entirely justifiable.

[2018-05-10 13:58] #58 closed

[2018-05-10 14:43] peterdemin commented on #52
To be fair, I don't think it's a good practice. But its origin is not Selenium docs.
[from BeautifulSoup import BeautifulSoup as BS](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=571725#5)
I'm sure I've seen the same pattern in ML field, something in scikit-learn, but I don't remember what exactly.
Anyway, N812 does not distinguish between CamelCase (intent) and short UPPERCASE (side-effect),

[2018-05-14 12:41] #45 closed

[2018-05-14 13:05] sigmavirus24 commented on #52
@peterdemin I'm sorry, I didn't do a great job explaining what I was asking for. In general, I'm happier to have false negatives than false positives but I'm happiest to have neither. For this specific error code, the guidance isn't exactly clear in the PEP. This is a grey area. For items like this, I would like to try to standardize on what the larger python community is already doing, as that wo

[2018-05-14 17:39] 5j9 commented on #29
Is this only expected within functions/methods, or also in global scope? I'm asking because currently `maxYear = some_function_here()`, although not a multiple assignment, does not raise error. (It seems that pep8-naming ignores all global variables.)

My patch is only intended to fix the issue for variables within functions.

[2018-05-25 08:17] 5j9 commented on #49
I'm curious to know how pylint detects constants. Note that if a constant literal (`10`) is assigned to a variable (`delta`), that's not enough evidence to call that variable a constant. Some other value can be assigned to the same variable later in the code...

I'd say doable, but requires a more in depth introspection.

[2018-05-25 08:31] sobolevn commented on #49
@5j9 I would say that `constant` is a misleading name.

'Module level variable' is better.

[2018-05-25 09:01] 5j9 commented on #49
Ah, in that case we do not agree on what is considered a constant.
I've always thought of them having a constant value, i.e. I never use UPPER_CASE for a for-loop variable, even if it is defined at the module level. Same for any global variable that gets reassigned or mutated during the execution of the code in that module.

[2018-05-25 17:26] 5j9 commented on #21
I cannot reproduce this issue. Running `pep8-naming` on the code above returns no error. Is it resolved?

[2018-05-25 23:39] cimbriano commented on #21
You are correct, this no longer reproduces.

[2018-05-25 23:39] #21 closed

[2018-05-26 12:15] #37 closed

[2018-05-27 03:57] 5j9 commented on #51
Since b656f4a190a30b8c3630f89c2fa71b1c2960ed2a this issue has been assigned a more specific error code (N807: function name should not start or end with '__') so that it can be ignored separately.

Still I'm not sure if this N807 error code is useful enough to be worth to have its false positives: I think it's a valid use case to have dunder function names defined in module scope if the coder want

[2018-05-27 13:48] sigmavirus24 commented on #51
Well, I think having checks for people to enable is more valuable than not having them at all. If we want to, Flake8's OptionManager on `flake8>=3.0` allows us to extend the default ignore list in https://github.com/PyCQA/pep8-naming/blob/09387c557e2112b89ada55742f2f7134b1a4aa3f/src/pep8ext_naming.py#L102 by doing `parser.extend_default_ignore(['N807'])`

[2018-05-27 14:01] sigmavirus24 commented on #51
Also, first person to send a PR clarifying that in the Flake8 docs wins internet points that can be redeemed for a drink of your choice at a future PyCon or other conference where we might meet up :)

[2018-07-17 17:15] 5j9 opened #72 "N805: A wrong line number is reported when there is a multiline decorator"
Consider the following sample code:

[code]

run flake8 on it:

[code]

The reported line number should be `mytest.py:4`.
This has also caused the `noqa` comment to become ineffective.

[2018-07-18 15:16] #72 closed

[2018-07-21 07:01] OmriTreidel opened #76 "plugin for pytest"
It would be great to have a pytest plugin in order to run it as part of the unittests

`py.test --pep8-naming`

[2018-07-21 19:59] sigmavirus24 commented on #76
pep8-naming is a *flake8 plugin* which means the pytest plugin would need to run flake8. If you have that and you install pep8-naming then you should run pep8-naming at the same time. :tada:

[2018-07-21 19:59] #76 closed

[2018-07-22 00:18] svenevs commented on #76
@OmriTreidel just to clarify if you are getting started with all of this stuff / are confused (as I very much was), to expand on what @sigmavirus24 means is that there are two separate "tests" here.  `py.test` is for running your code "unit tests", whereas `flake8` (and by extension `pep8-naming`) is for running "lint tests", for which `pep8-naming` is specifically linting the naming of classes /

[2018-07-22 16:13] sigmavirus24 commented on #76
@svenevs and to be clear, there are other things like plugins to pytest for running pyflakes as part of your tests so you don't have to run it separately. So that's not unusual. The only problem is trying to make this flake8-plugin work directly with pytest :)

[2018-07-22 16:19] svenevs commented on #76
Oh hey I never even considered this!  There seems to by a [`pytest-flak8` plugin already](https://github.com/tholo/pytest-flake8), which explicitly notes

Very interesting.  Sorry for adding noise to this, the world of python testing is vast and magnificent :upside_down_face:

[2018-07-23 14:18] sigmavirus24 commented on #76
Yeah, it's not my preferred method either, but I understand why folks do it.

That it is 😄

[2018-09-09 22:27] jackrosenthal commented on #52
Having stumbled upon this thread, think I can offer my 2c:

I would be surprised if this tool did *not* detect this as an error. While it's most certainly a grey area in PEP 8, it results in having something that would normally be cased in lower as an uppercase constant... not something I would typically expect.

For projects which rely on that naming convention (e.g., if using example from Seleni

[2018-10-02 21:43] sobolevn opened #78 "Class attributes naming rules"
I have occasionally found out that it is possible to use any case for naming class attributes:

[code]

`flake8` and `pep8-naming` won't complain about it.

Since https://www.python.org/dev/peps/pep-0008 does not say a word about class attributes naming style, I believe that it might be a hot discussion.

In my opinion class attributes should be using `snake_case` by default.
What do you think? Th

[2018-10-02 23:00] lordmauve commented on #78
I would read `UPPER_CASE` as indicating a class-level constant. For example, [enum.Enum](https://docs.python.org/3/library/enum.html) would typically be defined with upper-case names.

I'd like to see warnings about `camelCase` class attributes, however.

[2018-10-03 10:33] sigmavirus24 commented on #78
I agree with @lordmauve that `UPPER_CASE` should not be forbidden. `camelCase` does make sense to warn about though. I'd review a PR that implements that change.

[2018-10-03 12:30] 5j9 commented on #78
I can't test right now, but I believe I implemented this nearly 4 months ago. (https://github.com/PyCQA/pep8-naming/commit/16793542023da874242101693c13f64d3536bbdf)

[2018-10-03 12:53] sobolevn commented on #78
It is not published yet, I guess.

[2018-10-04 21:28] jauerb opened #79 "Loop variables not detected"
[code]

Does not create any warnings, but

[code]
results in

[2018-10-04 23:43] 5j9 commented on #79
The version on PYPI is outdated, try the master. (fixed in https://github.com/PyCQA/pep8-naming/commit/7ff99364ffe019468af2baa7b2e54f07022428ab)

[2018-10-05 16:37] sigmavirus24 commented on #79
@5j9 perhaps we should put together a release?

[2018-10-05 16:37] sigmavirus24 commented on #78
Excellent. Let's prepare a release then @5j9

[2018-10-05 17:00] jauerb commented on #79
Confirmed this is resolved on master.

[2018-10-05 17:00] #79 closed

[2018-10-06 07:52] 5j9 commented on #78
@sigmavirus24, is there anything I can do in preparation for a new release?

[2018-10-28 17:52] sobolevn opened #80 "Support `async` functions and method"
Currently this extensions does not support `AsyncFunctionDef`.
And does not check anything in it unlike in normal `FunctionDef`.

I guess this should be addressed, since many people use `async` and it is a part of the language.

[2018-10-29 13:00] sigmavirus24 commented on #80
Is this still true on master or only on the version of PyPI?

I know changes have been made since the last release. It may be that we just need to release them. Otherwise, it would make sense to support the `async`-related keywords

[2018-10-29 13:07] sobolevn commented on #80
`master` do not contain a single `async` word as I can tell.
https://github.com/PyCQA/pep8-naming/blob/master/src/pep8ext_naming.py

[2018-11-22 21:15] ramnes opened #82 "Support regexps (or at least globs) on --ignore-names"
Being able to give regexps (or at least globs) to --ignore-names would be very handy. :slightly_smiling_face:

For example, here: https://github.com/ramnes/qtile/commit/182a92dd0eb5614b012a6ab90e8d313953ee9670

[2018-11-24 13:53] sigmavirus24 commented on #82
I think `globs` would make sense. To be clear, you're thinking you'd like to use `--ignore-names handle_*` right?

[2018-11-24 14:03] ramnes commented on #82
Exactly. :+1:

[2018-11-28 13:02] #80 closed

[2018-12-01 13:44] sobolevn commented on #80
@sigmavirus24 @5j9 thanks for implementing this! Very useful improvement.
What's your releasing pipeline? When the next release is planned? Anything I can help with?

Waiting for it to close [this issue](https://github.com/wemake-services/wemake-python-styleguide/issues/308) of mine.

Cheers!

[2018-12-01 13:51] sobolevn opened #84 "Not detecting `import ... as ...` cases"
Here's an example of a `python` code that should raise a violation (in my opinion), but does not:

[code]

Version information:

[code]

[2018-12-02 13:44] #84 closed

[2018-12-06 18:41] fallenflint opened #86 "N806 Constant inside function false positive"
https://github.com/PyCQA/pep8-naming/blob/6fc2dc694c729403360f10e2545c6602b9a53727/testsuite/N806.py#L18
According to test, "constants" inside functions are forbidden.
But there is no evidence of such rule in PEP8, except the statement

Which is definetely don't forbid function-level constant. It could be if it was said **always**
I've been arguing the topic with my teammate, and never found any d

[2018-12-07 23:46] sigmavirus24 commented on #86
We're not here to help people win debates

[2018-12-07 23:46] #86 closed

[2018-12-07 23:50] fallenflint commented on #86
Oh my God, just drop the part about debates and give me please an answer,
whether or not it's a bug in your code (and there is a direct prohibition
in pep).
Thanks

сб, 8 дек. 2018 г., 2:46 Ian Stapleton Cordasco notifications@github.com:

[2018-12-09 19:46] fallenflint opened #87 "N806 Constant inside function false positive"
Accroding to PEP8, constants inside functions/method are not forbidden.

Following case fails test
[code]

[2018-12-11 14:03] sigmavirus24 commented on #87
In the future, please link to what you're trying to reference. The two relevant sections, as far as I'm concerned are:

- [Function and Variable Names][]
- [Constants][]

The former would indicate that `DATASET` here is a variable because (as the latter says) constants are (usually) defined at the module level. Analogously, `DATASET` would be a constant if defined at the class level.

Since `DATAS

[2018-12-11 14:03] #87 closed

[2018-12-11 21:38] lordmauve commented on #87
One reason you shouldn't spell locals like a constant is that you still pay a cost to construct the object (dict or set in your example above) each time the function is called.

In CPython, a couple of types (eg. tuples and list and set on the right hand side of `in`) are stored as constants in the code object. But that's an optimisation, and would be implementation dependent.

IMHO, the visual cl

[2018-12-11 23:17] fallenflint commented on #87
@lordmauve, thanks for your opinion, but let me explain.
Since it's test case, performance doesn't matter, the choice is binary: either it's constant _semantically_ (and I write it in upper-case) or it's a variable (and should be lower-cased).

Although import-time construction clue is quite noteworthy.

@sigmavirus24, Sorry, but I was pretty sure that including link to pep8 is redundant here, sin

[2018-12-14 20:40] sobolevn commented on #80
@sigmavirus24 Sorry for bothering you, but I really hope to see a new release.
The last one was half an year ago. Since that time a lot of bugs were fixed, including this one.

Is there anything that is blocking the process? If so, please let me help you.

[2018-12-16 19:10] sobolevn opened #88 "New version release"
Hi, thanks for this project! I am using it with great success as a dependency inside my own linter: https://github.com/wemake-services/wemake-python-styleguide

But, there were some blocking issues for me that were already addressed and merged into master.
Like #80 and #84. But these fixed are not yet released.

[The latest release](https://github.com/PyCQA/pep8-naming/releases) was made almost ha

[2019-01-04 18:04] PaszaVonPomiot opened #89 "N806 - false positive for class"
Regarding N806 (variable in function should be lowercase)
In Django I have a class that I create alias for which should be uppercase because it's still a class:

[code]
So it's clearly a false positive to me. Can you fix it?

[2019-01-09 23:47] snoack opened #90 "Allow namespaces to be uppercase"
In one of our projects, we use classes to emulate namespaces for constants, e.g.:

[code]

Would you be open to relax `N801` allowing class names to be in all uppercase (or at least if the class doesn't have any methods)?

[2019-01-10 05:12] lordmauve commented on #90
No, this is not conventional. As a citation, the examples given in the [enum documentation](https://docs.python.org/3/library/enum.html) are spelled like `Color.RED`.

[2019-01-10 05:12] #90 closed

[2019-01-25 00:35] #88 closed

[2019-01-28 16:14] jaap3 opened #92 "N812 false positive for gettext(_lazy) as _ (underscore)"
With the recent release of `pep8-naming` I suddenly get a lot of `N812` errors related to the import of `gettext` (and `gettext_lazy` in a Django project) as `_` (underscore).

`N812 lowercase 'gettext_lazy' imported as non lowercase '_'`

[2019-01-28 16:17] jaap3 commented on #92
Seems related to/caused by #84/#85

[2019-01-28 16:35] jaap3 opened #93 "TestCase attributes trigger N815"
With the recent release of `pep-8-naming` I suddenly get `N815` warnings for the `maxDiff` attribute on `unittest.TestCase`s (https://docs.python.org/3/library/unittest.html#unittest.TestCase.maxDiff)

I haven't verified this, but I assume other `TestCase` attributes will also trigger this (i.e.
`failureException` (https://docs.python.org/3/library/unittest.html#unittest.TestCase.failureException)

[2019-01-28 16:59] jparise commented on #93
N815 (mixedCased variable names at class scope) and N816 (mixedCased variable names at global scope) are new error codes in the 0.8.0 release. You can [disable](http://flake8.pycqa.org/en/latest/user/violations.html) them to get the previous pep8-naming behavior.

I agree that they're pretty noisy on a code base that uses `unittest`. I think we should ignore those well-known stdlib symbols by defa

[2019-01-28 18:04] #92 closed

[2019-01-28 18:06] jparise commented on #93
#43 is somewhat related, too.

[2019-01-28 19:04] orsenthil opened #95 "N803 argument name '_' should be lowercase"
After upgrading to pep8-naming 0.8.0 , we started seeing this error

This is a problem with pep8-naming, as `_` lowercase is `_`.

[2019-01-28 20:36] sigmavirus24 commented on #78
I think this was released in 0.8.0

[2019-01-28 20:36] #78 closed

[2019-01-28 20:47] #93 closed

[2019-01-28 20:49] jparise commented on #43
`ignore-names` now also applies to N806, N815, and N816 checks as of #96.

[2019-01-28 22:18] tim-ireland opened #98 "AttributeError: 'Tuple' object has no attribute 'id'"
Just picked up version 0.8.0 and started seeing the following tracebacks when running `flake8`:

[code]

I made the following modifications to `lib/python2.7/site-packages/pep8ext_naming.py` to get more details:

Starting at line 462 of pep8ext_naming.py:

[code]

And ran in single-threaded mode:
`flake8 /src -j 1`

Now seeing:
[code]

Using versions:
[code]

Reverting to version `pep8-naming==0.7

[2019-01-29 01:14] jparise commented on #98
Could you also share the snippet of code that's producing this issue? It appears to be around line 363 of the active file.

Assuming Python 2, I'm not familiar with the case where an `ast.ExceptHandler`'s `name` attribute isn't an `ast.Name` node. Perhaps an old-style `except:` syntax?

[2019-01-29 03:14] joshkel commented on #52
As another data point, the [standard Python docs](https://docs.python.org/3/library/xml.etree.elementtree.html) suggest importing `ElementTree` as `ET`.

(I checked the BeautifulSoup docs, and importing that as `BS` isn't in the docs that I checked, but it appears to be quite common in practice.)

It seems like a good compromise to me to support importing CamelCaseNames as strict abbreviations (e.

[2019-01-29 12:15] jaap3 commented on #92
Thank you!

[2019-01-29 12:15] jaap3 commented on #93
Thanks for the quick fixes 👍

[2019-01-29 12:49] #95 closed

[2019-01-29 13:56] tim-ireland commented on #98
Thanks for the pointer! I tracked it down to the following code snippet:

[code]

And this reproduces the issue:

[code]

[2019-01-29 14:12] tim-ireland commented on #98
This code does actually work by the way, here's an invalid ip address

[code]

[code]

[2019-01-29 14:41] 5j9 commented on #52
(In response to @sigmavirus24 at https://github.com/PyCQA/pep8-naming/pull/99#issuecomment-458527658)

---
My lines of thinking:

We currently allow uppercase class names ([related test](https://github.com/PyCQA/pep8-naming/blob/08a982972c8492e0027aff968d98cbaecfcd8d60/testsuite/N801.py#L35)), in that context, importing a ClassName as an abbreviated UPPERCASE form also sounds somewhat reasonable.

[2019-01-29 16:58] sigmavirus24 commented on #52
I like that a lot and am +1 on that actually.

[2019-01-29 19:18] #98 closed

[2019-01-29 19:51] decaz opened #102 "Ignore as Flake8 option"
It would be nice to use Flake8 `ignore` configuration option to ignore errors.

[2019-01-29 20:12] jparise commented on #102
This is already supported. Can you share what you've tried that isn't working?

[2019-01-29 21:37] sigmavirus24 commented on #102
Yes.

We just did a release. I could see doing a 0.8.1 soon though if @jparise is up for it.

[2019-01-29 21:44] jparise commented on #102
Yes, I'll plan on a 0.8.1 patch release in about a week once we wrap any remaining feedback from the 0.8.0 release.

@decaz, I'm going to close this issue. Please track #43 for extending `ignore-names` to even more error codes.

[2019-01-29 21:44] #102 closed

[2019-01-29 21:55] jparise commented on #51
I wonder if we should instead change the N807 logic (and message) from "start *or* end with `__`" to "start *and* end with `__`". That would error on names like `__foo__`, etc. that are generally considered to be special and magic while allowing people to prepend or append `_`'s as much as they like.

With this change, none of the functions in the original code example would be considered an error

[2019-01-30 14:23] arponpes opened #103 "N803 argument name '_' should be lowercase - false positive"
When I have a environment with flake8 and pep8-naming , and I have a function like:

`
def foo(_):
`

and I run flake8, there is the next error:

So pep8-naming it's reporting a false positive.

[2019-01-30 14:45] xlevus opened #104 "Regression in 0.8.0 - Underscore argument names report [N803]"
[code]
[code]
This persists with `flake8` versions 3.7.1, 3.7.0 and 3.6.0.
Does not appear to be an issue with `pep8-naming` 0.7.0

[2019-01-30 14:47] 5j9 commented on #104
Duplicate of #95

[2019-01-30 14:47] #104 closed

[2019-01-30 16:01] sigmavirus24 commented on #104
In the future, please search **closed and** open issues before creating new ones that are duplicates.

[2019-02-01 21:12] jparise commented on #102
The 0.8.1 release i planned for Monday. (#107)

[2019-02-03 22:34] sr-murthy opened #109 "Ignore name option doesn't exclude N806"
I'm running flake8 against one of my Python projects, in a Python 3.6.2 virtual env. on a Mac (OS X 10.13.6). I keep getting the error codes `N806` despite trying to ignore it

    [/path/to/my/repo]$ flake8 --ignore='E501' --ignore-names=['N806'] --count --statistics --output-file='flake8-report-03022019.txt' myproject/

I'm seeing this in the report

    ...
    myproject/somemodule.py:203:10: N

[2019-02-04 11:48] sigmavirus24 commented on #109
`--ignore=E501,N806` is what you want. `--ignore-names` ignores the names of bindings that would violate a rule, e.g., `--ignore-names=Y`.

[2019-02-04 11:48] #109 closed

[2019-02-04 11:49] sigmavirus24 commented on #109
See also https://github.com/PyCQA/pep8-naming#options

[2019-02-05 16:19] jauerb opened #112 "member variable names are not checked"
member variables are not checked for compliance with naming conventions
No warnings are created for improperly named member variables like _self.someVariable_

[2019-02-18 11:54] ArneBachmann commented on #36
This is something I would also need, as I mainly use camelCase for function/method names. A configuration setting is needed to switch the behavior of N803, which is very restrictive and ugly, e.g.

[code]

Using the underscore breaks my typing flow, and why sacrifice 26 perfectly good upper case characters in favor of even longer function names?

[2019-02-18 13:25] #36 closed

[2019-02-18 13:26] sigmavirus24 commented on #36
Given PEP-8's recommendation is snake case, I'd recommend breaking this out into its own plugin at this point. More flags, etc. don't make this particular code-base easier to maintain

[2019-02-20 03:00] #51 closed

[2019-02-21 21:07] jauerb commented on #112
Is there a reason we would not want this?

A simple fix I found would be to add
`elif target_type is ast.Attribute:
    yield assignment_target.attr`

at the end of _extract_names

In which case these would get reported as N806, but not sure if this should be a different error code.

[2019-02-22 04:44] 5j9 commented on #112
The problem is that if the member is part of another librarie's API, e.g. [`self.maxDiff = None`](https://docs.python.org/3.4/library/unittest.html#unittest.TestCase.maxDiff) in unittest module, then it leads to errors that are out of the control of your code-base.

[2019-02-25 09:39] penguinolog opened #114 "Metaclassfirst argument should use 'cls' for methods and 'mcs' for classmethods"
For normal classes is expected to use `self` and `cls` as first parameter, but metaclass is a special case:
instances of metaclasses are classes.
Expect:
[code]

[2019-03-03 02:12] jparise commented on #114
We agreed in #47 that all metaclass methods are class methods, and their first argument should be spelled `cls`. [Guido reached the same conclusion](https://mail.python.org/pipermail/python-dev/2018-January/151986.html).

[2019-03-03 02:12] #114 closed

[2019-04-12 17:58] julienr commented on #112
I would like this as well.

@5j9 I understand your concern about this being possibly out of your control, but would it be possible to add this as an opt-in check ?

I tried the same solution as @jauerb on a relatively large codebase at my company and we have no out-of-our-control false positive, so adding this as an opt-in would be useful for us.

I started working on patch [here](https://github.c

[2019-07-05 18:42] proofit404 opened #117 "Extend pep8-naming rules from installed libraries."
Hi, thanks for an awesome extension for flake8.

At [dry-python](https://github.com/dry-python) we develop libraries for pluggable business logic components.

We use DSL approach in the [stories](https://github.com/dry-python/stories) library. A tupical story looks like this:

[code]
This gives us two pep8-naming violations:
[code]
Is it possible to develop an addition to this flake8 plugin **insi

[2019-07-05 18:50] asottile commented on #117
I'm not actually involved in this project but reading the README it seems that this helps you with at least one of the errors:

[code]

[2019-07-05 23:15] sigmavirus24 commented on #117
Wouldn't `--ignore-names` take care of the rest of this?

[2019-07-05 23:30] asottile commented on #117
It maybe should but doesn't seem to apply to N803

[2019-07-06 20:31] #117 closed

[2019-07-10 21:25] jace opened #119 "Classmethod decorators as properties of other attributes"
I have a related problem to #38: SQLAlchemy has a `hybrid_property` module that allows declaring a property distinctly for the instance and the class:

[code]

Since `expression` and `comparator` are contained within the property, I can't simply use `--classmethod-decorators=expression,comparator` to turn off warnings for them. I need to explicitly use `NOQA: N805` each time.

It'll be nice if `cl

[2019-08-16 13:04] master468 commented on #49
I'm looking at the differences between pylint and pep8-naming (through flake8) and came across this page.  Has there been any development on this in the past year?

[2019-11-01 23:26] scottj97 opened #122 "Bogus N805 with positional-only parameters (PEP 570)"
Running Python 3.8.0:

[code]

*Please provide the exact, unmodified output of `flake8 --bug-report`*
[code]

*Please describe the problem or feature*

Trying to use Python 3.8's new positional-only parameters (PEP 570), I'm seeing a bogus warning from pep8_naming. It seems the AST has added a new `args.posonlyargs` which pep8-naming's `get_arg_name_tuples()` is not aware of.

*If this is a bug re

[2019-11-04 10:26] #122 closed

[2019-11-04 16:18] jparise commented on #122
Thanks for the thorough bug report, @scottj97! A fix for this is now in master (b978465). Would you mind verifying that it fixes what you're seeing?

[2019-11-04 17:22] scottj97 commented on #122
Confirmed, bogus N805 warning disappears.

[2019-11-05 16:14] jparise commented on #122
Wonderful! I'll plan on putting together a new package release this week that will include this fix.

[2019-11-14 05:24] ericvw opened #128 "Request for release including Python 3.8 lineno fix"
Hello!  I was wondering when the next release of `pep8-naming` will be which will include cccd2f365f6ee001086facb3c283385300de9d60 (from PR #126)?  This will enable me to update [`flake8`](https://gitlab.com/pycqa/flake8) project to lint with 3.8 as well as other projects I work on.  Thanks!

[2019-11-14 16:34] jparise commented on #128
We just released version 0.9.0 last week, but I'll build a version 0.9.1 patch release later today or tomorrow with this additional Python 3.8 fix.

[2019-11-14 18:01] jparise commented on #128
[Version 0.9.1](https://pypi.org/project/pep8-naming/0.9.1/) has been released.

[2019-11-14 18:01] #128 closed

[2019-11-14 22:37] ericvw commented on #128
Thanks!

[2019-12-16 02:38] dzhu opened #131 "Warn about "Capitals_With_Underscore" names"
PEP8 describes "Capitals_With_Underscores" as ugly (https://www.python.org/dev/peps/pep-0008/#descriptive-naming-styles) and never recommends that it be used anywhere, but, as far as I can tell, pep8-naming doesn't show a warning for variable names that follow it.

[2020-01-02 18:16] jparise commented on #7
I think we could make an exception to N806 for single-letter variable names. It would also be easy to implement.

What do the other @PyCQA/pep8-naming-dev folks think about this?

[2020-01-02 18:16] jparise commented on #34
This was fixed by #63.

[2020-01-02 18:16] #34 closed

[2020-01-02 18:20] jparise commented on #40
Closing this in favor of #82, which proposes a possible solution (supporting globs in `ignore-names`).

[2020-01-02 18:20] #40 closed

[2020-01-02 18:22] jparise commented on #119
This is similar to #82, which proposes something similar (glob support) to `ignore-names`.

[2020-01-02 19:09] saifelse commented on #7
The cited sentence is:

I would say it's a misinterpretation that it explicitly disallowing single upper case variable names for certain letters, is it implicitly allowing of other letters as upper case to be used as variables.

I think the case where the cited reason comes into effect are cases like `class E:` (allowed) vs `class I:` (disallowed).

Instead of special-casing single letters for thi

[2020-01-02 19:19] jparise commented on #7
This suggestion unfortunately isn't great for function argument names, which are relevant to this use case:

[code]

... because it would suppress N806 for all names on that line, which could be overly blunt.

[2020-01-14 21:59] adamchainz opened #132 "Filename checks?"
[PEP 8 states](https://www.python.org/dev/peps/pep-0008/#package-and-module-names):

pycodestyle could check the passed filenames are lowercase to help enforce this.

[2020-01-14 21:59] sigmavirus24 commented on #132
I transfered this over to pep8-naming since we were all in agreement about where it belonged.

[2020-02-02 23:23] jparise commented on #52
I took a crack at implementing this approach in #133.

[2020-02-04 20:31] #52 closed

[2020-02-04 21:01] peterdemin commented on #52
Thanks, @jparise!

[2020-02-06 23:23] #82 closed

[2020-02-25 15:22] dragonsinofwrath opened #136 "False positive for cls use in metaclass"
In a metaclass that directly inherits from type, the use of cls in `__call__` is supported and does not raise any error in the naming check:

[code]

When the metaclass inherits from another metaclass, however, pep8naming complains about `cls`:

[code]

Error message:
[code]

[2020-02-25 15:42] sigmavirus24 commented on #136
Welcome to GitHub @dragonsinofwrath

I edited your comment to format properly. I'm confused about `__get__` but that's besides the point. This is coming from https://github.com/PyCQA/pep8-naming/blob/002ad939afebc8a9daf05625943b247c603b4536/src/pep8ext_naming.py#L304 but I"m confused that you're only seeing it in the second case because as far as I can tell you should be seeing it in both cases.

[2020-02-25 17:06] dragonsinofwrath commented on #136
Yeah, sorry for the inconsistencies. Why this should throw an error? From my understanding, using self would be against convention here.
Anyway, the flake8 --bug-report output:

`{
  "dependencies": [
    {
      "dependency": "entrypoints",
      "version": "0.3"
    }
  ],
  "platform": {
    "python_implementation": "CPython",
    "python_version": "3.6.9",
    "system": "Linux"
  },
  "plugins

[2020-02-25 18:01] jparise commented on #136
I'll have a look at this one later today. I think there's a problem with the way I detect metaclasses. `class Meta(ABCMeta)` should work as expected, but `class Meta(abc.ABCMeta)` is failing. Probably just a minor oversight that shouldn't be hard to fix.

[2020-02-26 14:58] #136 closed

[2020-03-08 13:59] sobolevn commented on #132
JFYI: a lot of module-level checks are covered in [`wemake-python-styleguide`](https://github.com/wemake-services/wemake-python-styleguide) that uses `pep8-naming` as a dependency.

[2020-03-08 14:07] sobolevn opened #138 "False negatives for `N806`, `N815`, `N816`"
This code raises 0 violations:

[code]

But, it should raise 3 of them. Let's refactor `ast.AnnAssign` to be `ast.Assign` and here they are:

[code]

Related: https://github.com/wemake-services/wemake-python-styleguide/issues/1138

[2020-03-08 14:10] sobolevn opened #139 "Walrus operator support"
Currently `ast.NamedExpr` is not supported.

It should probably have the same semantics as a regular variable.
And follow the same rules depending on the context.

Related https://github.com/wemake-services/wemake-python-styleguide/issues/1138

[2020-03-10 05:18] #139 closed

[2020-03-11 03:47] #138 closed

[2020-03-20 11:58] nkakouros opened #142 "False positive for N804 with @abstractmethod"
I have the following file:

[code]

If I run `flake8` on the file, I get:

[code]

[2020-03-20 15:14] jparise commented on #142
I believe this was fixed by #137, which will be in the next release.

[2020-03-20 15:14] #142 closed

[2020-04-07 13:26] raabf opened #144 "Correct N804/N805 for __class_getitem__"
According to PEP560:

However, pep8-naming complains about thet the first argument should be called `self` and not `cls`.
So it would be nice if it would treat `__class_getitem__` automatically as classmethod.
The fix should be exactly the same as in [#42](https://github.com/PyCQA/pep8-naming/pull/42/commits/dfad62ca74fa5840a35aef06a006bd24b5ab8b63) which faced the same problem with `__init_subcla

[2020-04-07 18:23] #144 closed

[2020-04-07 22:56] raabf commented on #144
Thanks for the very fast response!

[2020-04-12 01:06] jparise commented on #89
We could consider changing the rule for assignments and allow a mixed-case variable name (left-hand side) if its being assigned to a mixed-case name (right-hand side).

[2020-04-12 15:42] sigmavirus24 commented on #89
@jparise I'm not confident in how necessary or common this is. It hasn't seen a lot of support or requests for help and I'm not certain relaxing this with no way to constrict it is the right choice.

[2020-04-12 18:29] jparise commented on #89
@sigmavirus24 I think that's a fine position to take, too. I imagine these cases are rate in practice, so it's reasonable to ask users to annotate them with `# noqa`.

[2020-06-04 09:00] cbows opened #149 "Classmethod decorator with arguments"
Classmethod decorators that take arguments are not correctly checked, even if set with `--classmethod-decorators`

### Example:

[code]

[code]

### Expected:

Code passes.

### Actual behavior

Throws `N805`.

### Version info
[code]

[2020-06-05 16:26] #149 closed

[2020-06-16 22:09] SethMMorton opened #152 "Version 0.11.0 breaks with AttributeError"
When I run flake8 with the new pep8-naming version 0.11.0, I get an `AttributeError` from `pep8ext_naming.py`

[code]

My guess is that it is not only Python 3.7, but that is all I've tried.

[2020-06-16 22:12] SethMMorton commented on #152
To be clear, this is now breaking my CI builds.

[2020-06-16 22:46] jparise commented on #152
On it.

[2020-06-16 22:48] jparise commented on #152
@SethMMorton any change you can narrow down the snippet of code that's being analyzed and causing this to explode? I can see the issue, but I'd like to include something in the test suite to avoid future regressions.

[2020-06-16 23:14] mirror25 commented on #152
We are seeing this on Python 3.6 so the title should be corrected

[2020-06-16 23:17] sigmavirus24 commented on #152
Can you share a snippet of code that reproduces this regardless of Python version? That's far more important

[2020-06-16 23:18] SethMMorton commented on #152
I am working on a snippet! I realize it wasn't only Python 3.7! Sorry I added that!

[2020-06-16 23:18] jparise commented on #152
I've figured out what's going on here. It happens with the `@module.decorator(arg)` calling syntax. Fixing now.

[2020-06-16 23:20] SethMMorton commented on #152
[code]

[2020-06-16 23:47] #152 closed

[2020-06-16 23:49] jparise commented on #152
Version 0.11.1 has just been released with a fix for this. Sorry about this, and thanks for your help and patience tracking it down!

[2020-06-16 23:56] SethMMorton commented on #152
Thank you for the quick turnaround. I have been in your shoes (except that the release happened before I went to bed, so the badness stagnated for 8 hours) and know how stress inducing it can be.

Many thanks.

[2020-06-29 15:35] spaceone opened #155 "false positive N802: function name should be lowercase when function startswith `__`"
[code]
returns `function name should be lowercase [N802]` while it is all lowercase.

[2020-06-29 15:42] spaceone commented on #155
Hm, fixed in latest version.

[2020-06-29 15:42] #155 closed

[2020-08-15 06:21] fpuga commented on #132
There are also two flake8 plugins that are related to this feature, but it will be nice to have it in pep8-naming:

- [flake8-module-name](https://pypi.org/project/flake8-module-name/). A flake8 plugin for testing PEP-8 conform package and module names.
- [flake8-filename](https://github.com/rcbops/flake8-filename). A flake8 linter plug-in for validating that certain files comply with a user defin

[2020-08-15 14:30] sigmavirus24 commented on #132
`flake8-filename` says

[2020-11-23 10:12] DanielFEvans opened #158 "N805 False positive for abstract static method"
An error is raised for an abstract static method, claiming that the first argument should be `self`:

[code]

pep8-naming v0.11.1, Python 3.6.8.

[2020-11-23 10:16] DanielFEvans commented on #158
Although I've now discovered that this is deprecated behaviour - the Python docs make that quite subtle!

[2020-11-23 10:24] #158 closed

[2021-02-03 20:14] jparise opened #163 "Type Variable Names"
PEP 8 suggest some [naming rules for type variables](https://www.python.org/dev/peps/pep-0008/#type-variable-names):

These might be useful additional checks to add to pep8-naming.

[2021-03-25 15:11] Dreamsorcerer opened #164 "Should be cls in metaclass"
[code]

This produces:
`./tests/unit/test_auth.py:33:18: N804 first argument of a classmethod should be named 'cls'`

But, it's a metaclass, and seems to directly contradict B902 from bugbear:
`./tests/unit/test_auth.py:33:17: B902 Invalid first argument 'cls' used for metaclass class method. Use the canonical first argument name in methods, i.e. metacls.`

[2021-03-25 15:38] Dreamsorcerer opened #165 "Explanation for N817"
It would be nice if the documentation gave some explanation.

`import xml.etree.ElementTree as ET`

triggers N817, yet it is the recommended format in the Python documentation.

[2021-03-25 17:27] sigmavirus24 commented on #164
We implement PEP 8's naming guidance. In particular https://www.python.org/dev/peps/pep-0008/#function-and-method-arguments

I'm not convinced `metacls` is actually canonical in this case.

[2021-03-25 17:30] sigmavirus24 commented on #165
https://github.com/PyCQA/pep8-naming/pull/133

It's specifically it's own error code so that it can be ignored while still implementing what's considered best practice by the community (with rare exceptions such as ET).

[2021-03-25 17:30] #165 closed

[2021-03-25 20:04] Dreamsorcerer commented on #164
Hmm, it doesn't mention metaclasses at all. It looks like in cpython the most common use is `mcls`:
https://github.com/python/cpython/blob/master/Lib/abc.py#L84

But, there are also cases of `metacls` and `cls`. I think it'd be safest to not validate the name in a metaclass at all, as it seems like it's not covered by PEP 8, and lacks a clear consensus on the appropriate name.

[2021-03-25 20:07] Dreamsorcerer commented on #165
OK, that makes sense. Would be nice to have that info in the docs though.

[2021-03-26 16:26] sigmavirus24 commented on #164
It doesn't explicitly mention it, no, but it does mention implicitly class methods (which I think `__new__` technically is).

[2021-03-26 16:27] sigmavirus24 commented on #165
Feel free to send a Pr to that effect.

[2021-04-12 17:02] xqt opened #167 "N802 found on different lines for the sa,e"

[2021-04-12 17:03] #167 closed

[2021-04-12 17:22] xqt opened #168 "N802 found on different lines for the same issue depending on Python version"
**pep8-naming 0.11.1** finds a N802 issue on different lines for the same issue depending on Python version:
https://integration.wikimedia.org/ci/job/pywikibot-core-tox-docker/15120/console

With Python 3.5, 3.6. and 3.7 the issue is located at line 259 but with Python 3.8 is is line 260.

The code snippet is:

    @deprecated('APISite.namespaces.lookup_name', since='20150703',
                fut

[2021-04-12 22:45] sigmavirus24 commented on #168
Based on the information here, I believe this to be in how Python's `tokenize` module provides this information that Flake8 then gives to the plugin. This has been discussed in Flake8 and it's not something that can be fixed in this plugin.

[2021-04-12 22:45] #168 closed

[2021-05-05 16:18] johnthagen opened #169 "False positive N805 when running against pydantic.validator"
Pydantic provides `classmethod` validators: https://pydantic-docs.helpmanual.io/usage/validators/

Consider the following code.

[code]

[code]

[code]

But the definition of `validator` does properly type hint that it returns a `classmethod`.

https://github.com/samuelcolvin/pydantic/blob/5921d5ec96465c0b3ce5a3e0207843fabcd339a9/pydantic/class_validators.py#L49

[code]

This has been discussed a

[2021-05-06 18:04] sigmavirus24 commented on #169
Pretty sure this is a flat-out "Won't Fix" from us. We don't execute any code or follow things to find their `pyi` or type stubs (in this specific case, we wouldn't import pydantic in order to determine what it returns).

[2021-05-30 02:01] jparise commented on #169
Fortunately, there is a solution for projects that use Pydantic and pep8-naming:

[code]

[2021-06-01 10:54] sigmavirus24 commented on #169
I'm going to close this then since there's no work needed

[2021-06-01 10:54] #169 closed

[2021-06-02 11:49] johnthagen commented on #169
The correct CLI argument is:

[code]

To configure within `setup.cfg` / `flake8.ini` / `tox.ini`:

[code]

[2021-07-06 10:55] mweinelt opened #171 "Broken test with flake8>=3.9.1"
After upgrading to flake>=3.9.1 the following test failure came up.

[code]

Seems related to this change: https://github.com/PyCQA/flake8/pull/1317

[2021-07-06 11:31] sigmavirus24 commented on #171
I suspect we didn't cut a new release that includes the updates to our test suite yet @jparise ?

[2021-07-06 12:10] jparise commented on #171
Our usage of `extend_default_ignore` was introduced in b562e5a, which has yet to be released in a tagged version. I can do that soon.

... but that doesn't explain the error above, which is for the tagged 0.11.1 release. Is there something backwards-incompatible about flake8's 3.9.1's "extended ignore" implementation?

[2021-07-06 23:51] sigmavirus24 commented on #171
I believe our tests mock out things that are internal to Flake8, which I've never liked but it hasn't caused too much trouble. I think the change I made caused those half-mocked things to not have all the detail needed

[2021-07-06 23:52] sigmavirus24 commented on #171
https://github.com/PyCQA/pep8-naming/pull/157/commits/6d62db81d7967e123e29673a4796fefec6f06d26 is (I believe) what would fix things

[2021-08-04 14:33] daphtdazz opened #174 "RecursionError when checking class that inherits from same-named class"
So if you have a file `a.py`:

[code]

And run `flake8 a.py` (with `pep8-naming` installed obvs) you get:

[code]

Because the change to support `N818 - exception name should be named with an Error suffix` added some code that inspects the AST to find if any superclasses are `Exception` recurses through the superclasses by name, and of course in this pathological case the superclass is named the s

[2021-08-06 20:26] #174 closed

[2021-09-10 15:50] joseguerr opened #177 "Warning instance attributes that are not camel_case compliant"
Currently, attributing

self.Myvariable = 0
self.myVariable = 0
self.my_Variable = 0

Does raise any sort of warning.

It would be great to have a warning stating the variable should be lowercase, as if we were writing regular variable names.

I haven't found a plugin that implements these, but if there is already exists one please let me know :)

[2021-09-10 16:30] joseguerr commented on #112
We would also enjoy to this at our company.

[2021-09-11 14:14] sigmavirus24 commented on #112
It's possible to have this such that it's disabled by default. A template to follow is in https://github.com/PyCQA/pep8-naming/pull/157

[2021-09-12 17:19] joseguerr commented on #112
Thanks for the help @sigmavirus24 , should I name it N819?

[2021-09-13 00:52] sigmavirus24 commented on #112
I generally think that the error codes should be better grouped (I didn't check this for `N818`). I'd suggest `N820`.

* `N80*` - is related to class, function, and function argument names
* `N81*` - was mostly related to changes in casing (until `N818`)
* `N82*` - would probably be best to start for method/property/attribute naming conventions on a class although this seems related to `N815` and

[2021-09-15 10:47] gaborbernat opened #178 "TypedDict classes should be exempt from N815"
[code]

[2021-09-15 11:31] sigmavirus24 commented on #178
We don't special case anything like this except what we default `--ignore-names` to. That would likely be the best place to configure this.

[2021-09-15 11:35] gaborbernat commented on #178
I don't consider it a viable option, clearly, in this case, the PEP shouldn't mandate, and I don't think having to allowlist every name one by one is the path ahead. Also, I don't want these names to show up outside of a typed dictionary. So let us reconsider please.

[2021-09-15 11:42] sigmavirus24 commented on #178
We would need significant refactoring to say "Ah, this has inherited umpteen times from a TypedDict and yes it's _that_ TypedDict" which to handle 1 attribute here isn't reasonable. If we had anything like that, the `unittest` methods that are part of the default `--ignore-names` wouldn't be there but would be part of an exclusion applied to any class that inherits from `unittest.TestCase`.

The p

[2021-09-15 11:47] gaborbernat commented on #178
I wasn't thinking to cover 100% of the cases but feels like covering the most common case (direct inheritance) as a low hanging fruit with big benefit.

[2021-09-16 03:34] jparise commented on #171
I believe this was fixed in the last release. Can you confirm, @mweinelt?

[2021-09-16 03:40] jparise commented on #178
We actually now have code that attempts to traverse as much of the class hierarchy as is possible (given the AST's limitations). We use it to find `Exception` subclasses.

https://github.com/PyCQA/pep8-naming/blob/9adbbc4a6248db25eff2c7bc13b090b1d83ffd04/src/pep8ext_naming.py#L300-L316

A path to implementing this suggestion in this issue might be:

- Generalize the code above
- Introduce an `igno

[2021-09-30 23:45] mweinelt commented on #171
Yes, LGTM. Thanks!

[2021-09-30 23:45] #171 closed

[2021-10-20 13:06] sigmavirus24 opened #182 "Renaming default branch to main"
@PyCQA/pep8-naming-dev I'm going to rename the branch to `main`  today.

[2021-10-20 13:13] sigmavirus24 commented on #182
[code]

[2021-10-20 13:13] #182 closed, assigned to nobody

[2021-11-14 04:42] noorul commented on #49
Any update on this? Is anyone using any other plugin other than pylint for this?

[2021-11-14 08:08] sobolevn commented on #49
I use `wemake-python-styleguide` that has this rule: https://wemake-python-stylegui.de/en/latest/pages/usage/violations/naming.html#global-module-level-variables

[2021-11-14 09:38] noorul commented on #49
I tried adding this, but it takes too much time to complete the scan.

[2021-11-25 23:39] arkivm opened #185 "Drop dependency on flake8-polyfill"
As the current version of `pep8-naming` depends on flake8 >=3.9.1, hope we no longer need to depend on `flake-polyfill`. Refer discussion at https://github.com/PyCQA/flake8-polyfill/pull/14

[2021-11-30 21:47] cyberfox1 opened #187 "N815 is not being reported"
I don't really understand, previous bug reports indicated it would as there is an exception list for things like unittest.

https://github.com/PyCQA/pep8-naming/issues/93
https://github.com/PyCQA/pep8-naming/commit/16793542023da874242101693c13f64d3536bbdf

[2021-11-30 22:36] ipadla commented on #49
I made a small plugin for flake8 https://pypi.org/project/flake8-class-constants/
It's dirty, without tests, but it seems to work on small projects

[2021-12-01 00:43] sigmavirus24 commented on #187
I don't really understand, you want unittest mixed case method overrides to be reported as N815? You've provided no sample code, no expectations, and you haven't explained what you're seeing. This issue is not actionable.

[2021-12-01 00:43] #187 closed

[2021-12-01 01:26] cyberfox1 commented on #187
No, I want N815  to be reported where applicable.

Well hows this:

class AClass():

    def __init__(self):
        self.fooBar = 42

I want N815  to be reported where applicable.

N815  is not being reported.

I have a version that should according to other links.
Installed plugins: hacking.core: 0.0.1, mccabe: 0.6.1, naming: 0.10.0, pycodestyle: 2.6.0, pyflakes: 2.2.0

[2021-12-01 02:01] cyberfox1 opened #188 "N815 is not being reported"
Attributes of a class should be checked against camelCase rules.

badName = 'bob'

class AClass():

    def __init__(self):
        self.fooBar = 42

    def camelCase():
        pass

$ flake8 --ignore="H301" aclass.py
aclass.py:1:2: N816 variable 'badName' in global scope should not be mixedCase
aclass.py:3:1: E302 expected 2 blank lines, found 1
aclass.py:4:1: W293 blank line contains whitespac

[2021-12-02 01:13] sigmavirus24 commented on #188
Duplicate of #187

[2021-12-02 01:13] #188 closed

[2021-12-02 01:20] sigmavirus24 commented on #187
[code]

[code]

[code]

The documentation for `N815` is that it's variables in the class scope, not instance scope. Thus it's working as expected

[2021-12-02 01:37] cyberfox1 commented on #187
So what is the code for instance scope?

[2022-01-20 06:57] danielpatrickdotdev commented on #178
Since `TypedDict` is a special case, and this is much simpler to implement than adding a new option, I've raised #189 as a proposal to address that specific case

[2022-01-20 12:41] sigmavirus24 commented on #178
`--ignore-class-names` fixes the problem of wanting to understand inheritance across modules, @danielpatrickdotdev, because we can't handle that otherwise as you rediscovered in #189.

[2022-01-20 13:10] danielpatrickdotdev commented on #178
It does, but I'm never keen on blanket ignores like that, so was hoping for something more precise. I can live with something that covers common cases though

[2022-01-20 23:10] sigmavirus24 commented on #178
Having a list of class names is far more precise than blanket ignoring any TypedDict inherited class which may or may not have non-snake-case attributes.

[2022-01-21 04:27] danielpatrickdotdev commented on #178
In some ways it is, but it's quite an unweildy thing to define. I certainly wouldn't want to ignore all checks for a list of classes. Plus in this case we're interested in superclass names. I ended up with `--ignore-variable-names-for-subclasses`. Even that mouthful doesn't quite capture it.

[2022-01-28 12:02] abcdenis opened #192 "N816 does not make sense"
Hi,
it triggers on mixed case names only but description points to PEP8 which requires global variables to be upper-cased.
https://www.python.org/dev/peps/pep-0008/#constants

As a result, pep8-naming won't find errors in
[code]

It will be nice to check global variables for upper case only.

[2022-01-28 12:33] sigmavirus24 commented on #192
Duplicate of #49

[2022-01-28 12:33] #192 closed

[2022-02-05 05:17] skirpichev opened #193 "False positive for N805 in a child class"
[code]
PEP8: [Always use cls for the first argument to class methods](https://www.python.org/dev/peps/pep-0008/#function-and-method-arguments).

Note that pylint is correct here:
[code]

[2022-02-05 15:03] sigmavirus24 commented on #193
pylint does significantly more to analyze code that isn't strictly available to us. Presuming the _exact_ case you've provided, we might be able to detect this, _but_ if `Foo` were in another module, it wouldn't actually work. We have some notion of tracking parent classes already so we might be able to catch this but it's also rare enough that I feel people would be better served by adding `# noq

[2022-02-05 15:07] skirpichev commented on #193
Hmm, then maybe this check is not a suitable task for the pep8-naming?

[2022-02-05 15:25] sigmavirus24 commented on #193
Checking for `self`? Which is right 99.99% of the time? No. It's perfectly suitable.

[2022-04-25 13:54] djmattyg007 opened #194 "False positive for HTTP request handler do_METHOD methods"
The built-in base HTTP request handler class in `http.server` asks you to create methods named (for example) `do_GET`, `do_POST`, etc. Rule `N802` warns about these methods.

[2022-05-12 00:13] tanducmai opened #195 "False Error N805"
N805 error says that 'first argument of a method should be named 'self'', which is True.

However, in my case, I am defining a class method which has its first argument being `cls` in lieu of `self`, and the error of N805 is still raised, which is not True.

According to [Function and Method Arguments](https://peps.python.org/pep-0008/#function-and-method-arguments), 'Always use `cls` for the firs

[2022-05-12 03:16] jparise commented on #195
pep8-naming attempts to determine whether or not a method is an instance or class method based on the presence of a decorator (like `@classmethod`) or some other reliable criteria (such as if the method is named `__new__` or `__init_subclass__` or within a metaclass).

You can "teach" pep8-naming about any custom class method decorators using `--classmethod-decorators`.

If none of those cover you

[2022-05-20 18:19] #195 closed

[2022-05-23 00:24] jparise commented on #185
Closed by #199

[2022-05-23 00:24] jparise commented on #185
Closed by #199

[2022-05-23 00:24] #185 closed

[2022-05-27 17:01] ericbn opened #201 ""camelcase imported as lowercase" fails even when only parent package is camelcase"
For example, this code:
[code]

fails with:
[code]

Shouldn't pep-naming just look at the package name being imported (`commons`) instead of looking at the parent package names too, and then not fail in this case?

I'm assuming this rule exists for when a class name is being imported, as discussed in https://stackoverflow.com/a/37590149/2654518. In this case:
[code]
sure should fail with:
[code]

[2022-05-31 22:58] ericbn commented on #201
Fix should be as simple as
[code]

I'm more than happy to create a PR once the idea is approved.

[2022-06-01 00:22] sigmavirus24 commented on #201
Holding a sleeping newborn so I'm going to be terse and respond to exactly I've point you made

In the example you gave you otherwise would have had a camelcase name to reference everywhere `SalesforcePy.commons`. You aliases it as a lowercase. I don't think that is a valid example of what you're trying to prove

[2022-06-01 18:35] sigmavirus24 commented on #201
So i think the disconnect between you and me is based on what an import might be used like if not allowed to a different casing.

Two examples you have have a fully qualified band that is now mixed case without any alias. Using the Salesforce library to start with, I believe that changing that to `from SalesforcePy import common as sfc` wouldn't trigger the error because without the alias you'd re

[2022-06-07 02:42] jparise commented on #201
I think those generally sound like good rules, they sort of fall outside the bounds of PEP 8. The [Package and Module Names section](https://peps.python.org/pep-0008/#package-and-module-names) tells us how a (source) module should be named, but I don't know if we should be adding enforcement to `import`'ing side.

Your second proposed rule feels closest in spirit to PEP 8. I'm less sure about the

[2022-06-07 08:03] lyz-code opened #202 "Add flake8_polyfill as requirement"
Hi, today my CI has stopped working because `flake8_polyfill` is imported by pep8-naming but was not installed. I've looked at your `setup.py` and found that it's not a requirement. Maybe I'm doing something wrong, but shouldn't it be there?

Here's the full traceback:

[code]

[2022-06-07 15:13] ericbn commented on #201
Agree. That's the point of the second proposed rule.

If we also want to enforce the packages and modules in the code being linted to be lowercase, maybe we could check the directory and file names. But that might be a separate discussion...

What are you not sure about the first proposed rule? The way I see it, rules N81{1,2,3,4,7} are already enforcing that aliases have the same case type as the

[2022-06-07 20:26] jparise commented on #202
Which version of pep8-naming are you using (and how did you install it)? The latest version (0.1.3.0) dropped the `flake8-polyfill` dependency entirely (#199).

[2022-06-07 22:53] jparise commented on #201
I understand better now. I thought you were proposing that we change the check to enforce that the alias simply matches the case of the imported name, skipping the other naming rules.

[2022-06-08 02:44] ericbn commented on #201
Cool. Let me work on the code changes and propose then in a PR.

[2022-06-08 18:07] #202 closed

[2022-07-15 11:38] stefan6419846 opened #204 "Deprecation warning for options"
Running `flake8 --verbose` (version 4.0.1) with this plugin installed (version 0.12.1 on Python 3.6) reports some deprecation warnings:

[code]

[2022-07-15 12:30] jparise commented on #204
Thanks! I see these in version 0.13.0, too. I'll fix them up.

[2022-07-15 19:51] #204 closed

[2022-09-26 05:07] Asday commented on #89
`ModelName = apps.get_model("app_name.ModelName")` is a perfectly sane pattern in Django projects.  I'm not particularly familiar with AST inner workings, so I don't imagine it can be done thanks to Python's typing, but if a variable holds a `type` instance it shouldn't trigger N806.

[2022-11-29 09:36] pdc commented on #5
I just tried adding `pep8-names` to a Django project and got a screenful of complaints about lines like this:
[code]
Where `get_model` returns a class.

I can add `#noqa: N806` to all of them, but it would be nice if I didn't have to. Some alternatives off the top of my head are

- (As suggested above) Allow variable assignments to use the capitalization of classes or constants and assume the prog

[2022-11-29 14:13] sigmavirus24 commented on #5
Tools don't complain, they tell you information you asked them to give you

Except for the cases we've already caught and helped standardize for projects and the sudden lack of a computer telling someone they're violating the project/team's agreed upon convention.

No analysis of the AST will tell us this. Please don't spread misinformation.

Yep, let's depend on a language server or mypy to give

[2022-11-30 11:13] pdc commented on #5
Thanks for your feedback. Just to be clear, `#noqa: N806` is fine